<!DOCTYPE html>
<html>
<head>
	<title>Patentes</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
       <link type="text/css" rel="stylesheet" href="../css/style.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper  cyan darken-4">
		      <a href="../home.html" class="brand-logo">Bazar Artesano</a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li class="active"><a href="../home.html">Inicio</a></li>
		        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Catálogo artesanías<i class="material-icons right">arrow_drop_down</i></a></li>
		        <li><a href="">Registro</a></li>
		        <li><a href="perfil-artesano.html">Mi cuenta</a></li>
		        <li><a href=""><i class="material-icons">add_shopping_cart</i></a></li>
		        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">search</i></a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li class="active"><a href="/home.html">Inicio</a></li>
		        <li><a href="">Registro</a></li>
		        <li><a href="">Mi cuenta</a></li>
		        <li><a href=""><i class="material-icons">add_shopping_cart</i></a></li>
		        <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">search</i></a></li>
		      </ul>
		    </div>
  		</nav>
  	</div>

  	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="barro.html">Barro</a></li>
	  <li><a href="#!">Arcilla</a></li>
	  <li><a href="#!">Shakira</a></li>
	  <li><a href="barro.html">Palma</a></li>
	  <li><a href="#!">Artes decorativas</a></li>
	  <li><a href="#!">Bordado</a></li>
	  <li><a href="barro.html">Orfebrería</a></li>
	  <li><a href="#!">Vidrio soplado</a></li>
	  <li><a href="#!">Tallado de madera</a></li>
	</ul>

  	<div class="container">
  		<div class="row">
	  		<div class="col s12">
	  			<h1 class="center-align">Artesanías con barro</h1>
	  		</div>

	  		<div class="row">
	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://www.museo.rabinal.info/artesanos/galeria_fotos/RabinalBajaVerapaz/artesanadelbarro7.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 1<i class="material-icons right">more_vert</i></span>
					      <p><a href="artesano1.html">Comprar productos</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 1<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://thumbs.dreamstime.com/b/loza-de-barro-loza-en-el-centro-comercial-kaziukas-vilna-lituania-de-la-artesan%C3%ADa-68189753.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 2<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 2<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://s-media-cache-ak0.pinimg.com/originals/fe/c7/f2/fec7f2ea93ba9c81b2667c144ddd1255.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 3<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 3<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>
	  		</div>

	  		<div class="row">
	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://www.udg.mx/sites/default/files/img_noticias/artesanas_boletin04mel.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 4<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 4<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://hondurasprogresa.com/wp-content/uploads/2016/04/artesanias.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 5<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 5<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://www.gdltours.com/tlaquepaque.artesano.tour/donde_trabajar_como_barro_manualidades_escolares.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 6<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 6<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>
	  		</div>

	  		<div class="row">
	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://elheraldoslp.com.mx/wp-content/uploads/2017/07/s21-13.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 7<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 7<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://www.welcomeargentina.com/cafayate/imagenes/cacharros.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 8<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 8<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>

	  			<div class="col s12 m4">
	  				<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://1.bp.blogspot.com/-e8-2wvao7ms/VZikyiZlMyI/AAAAAAAAtOU/Cq11P0zP8JE/s1600/DSCN1245.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Artesano 9<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">Ver más</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Artesano 9<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					</div>
	  			</div>
	  		</div>


	  	</div>
  	</div>

  	<footer class="page-footer cyan darken-4">
      <div class="footer-copyright">
        <div class="container center-align">
        © 2017 Bazar Artesano
        </div>
      </div>
    </footer>





	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript">
    	$( document ).ready(function(){
    		$(".button-collapse").sideNav();
    		$(".dropdown-button").dropdown();
    	})
    </script>
</body>
</html>
