<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>perfil-artesano</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper  cyan darken-4">
          <a href="/home.html" class="brand-logo">Bazar Artesano</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="../home.html">Inicio</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Catálogo artesanías<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="">Registro</a></li>
            <li><a href="">Mi cuenta</a></li>
            <li><a href=""><i class="material-icons">add_shopping_cart</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">search</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active"><a href="/home.html">Inicio</a></li>
            <li><a href="">Registro</a></li>
            <li><a href="perfil-artesano.html">Mi cuenta</a></li>
            <li><a href=""><i class="material-icons">add_shopping_cart</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">search</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
      <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="barro.html">Barro</a></li>
      <li><a href="#!">Arcilla</a></li>
      <li><a href="#!">Shakira</a></li>
      <li><a href="barro.html">Palma</a></li>
      <li><a href="#!">Artes decorativas</a></li>
      <li><a href="#!">Bordado</a></li>
      <li><a href="barro.html">Orfebrería</a></li>
      <li><a href="#!">Vidrio soplado</a></li>
      <li><a href="#!">Tallado de madera</a></li>
    </ul>
    <div class="row">
     <div class="col s12">
       <ul class="tabs">
         <li class="tab col s3"><a class="active" href="#pedidos">Pedidos</a></li>
         <li class="tab col s3"><a  href="#subir-producto">Subir producto</a></li>
         <li class="tab col s3"><a href="#catalogo">Mi catalogo</a></li>
         <li class="tab col s3"><a href="#proceso-de-DA">Consulta tu Proceso (Derecho de Autor) </a></li>
       </ul>
     </div>
     <div id="pedidos" class="col s12">
       <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Producto</th>
              <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Silvana</td>
            <td>Ciudad de México</td>
            <td>Aqui vendria el nombre del producto pedido</td>
            <td>$300.00</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Michoacan</td>
            <td>Aqui vendria el nombre del producto pedido </td>
            <td>$400.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>EE.UU.</td>
            <td>Aqui vendria el nombre del producto pedido</td>
            <td>$500.00</td>
          </tr>
        </tbody>
      </table>
     </div>
     <!--  seccion de sus catalogos, donde puede modificar sus productos el artesano-->
     <div id="catalogo" class="col s12">
       <h2>Mi catalogo de productos</h2>
       <div class="col s12 m6">
         <div class="card horizontal">
           <div class="card-image">
             <img src="http://cdmxtravel.com/assets/cache/27b220fb2f9535bf062956cae477643c/discover-4398-cimg8462_848x476_adaptiveResize.jpg">
           </div>
           <div class="card-stacked">
             <div class="card-content">
               <h4 class="header">Nombre de la artesania</h4>
               <p>Aqui vendria una descripcion del producto</p>
             </div>
             <div class="card-action">
               <a href="#">Modificar producto</a>
             </div>
           </div>
         </div>
       </div>

       <div class="col s12 m6">
         <div class="card horizontal">
           <div class="card-image">
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Artesan%C3%ADas_de_Puebla.JPG/1024px-Artesan%C3%ADas_de_Puebla.JPG">
           </div>
           <div class="card-stacked">
             <div class="card-content">
               <h4 class="header">Nombre de la artesania</h4>
               <p>Aqui vendria una descripcion del producto</p>
             </div>
             <div class="card-action">
               <a href="#">Modificar producto</a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- seccion en donde el artesano puede subir su producto, y sea guardado en la base de datos
      si decide que sea con derecho de autor que haya un proceso con el despacho de abogados, si no que sea subido al  catalogo general-->
     <div id="subir-producto" class="col s12">
       <!-- debe ir un formulario donde pueda el artesano subir su producto -->
       <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col m6 s12">
              <img id="imgSalida" width="50%" height="50%" src="" /><br />
              <!--  -->
              <input type="file" id="file-input" style="display: none;" />
              <button class="btn" type="button" value="Browse..." onclick="document.getElementById('file-input').click();">Subir Imagen</button>
            </div>
            <div class="input-field col m6 s12">
                <select id="derecho-autor">
                  <option value="" disabled selected>Seleccione una opcion</option>
                  <option value="1">Subir directo</option>
                  <option value="2">Tramitar Derecho de autor</option>
                </select>
                <label for="derecho-autor">Seleccione la opcion deseada</label>
              </div>
            <div class="input-field col s12">
              <input placeholder="Ingrese el Nombre del producto" id="Nombre-producto" type="text" class="validate">
              <label for="Nombre-producto">Nombre del Producto</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea placeholder="Ingrese aqui la descripcion de su pruducto" id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Descripcion del producto</label>
            </div>
          </div>
          <ul id="requisitos" class="collapsible" data-collapsible="accordion" >
            <li>Requisitos</li>
            <li>
              <div class="collapsible-header">
                <input type="checkbox" id="req1"/>
                <label for="req1"></label>Requisito 1</div>
              <div class="collapsible-body">
                <span>Aqui debe ir la especificacion de donde conseguir el requisito</span>
                <input type="file" value="Ingrese el archivo">
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <input type="checkbox" id="req2"/>
                <label for="req2"></label>Requisito 2</div>
              <div class="collapsible-body">
                <span>Aqui debe ir la especificacion de donde conseguir el requisito</span>
                <input type="file" value="Ingrese el archivo">
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <input type="checkbox" id="req3"/>
                <label for="req3"></label>Requisito 3</div>
              <div class="collapsible-body">
                <span>Aqui debe ir la especificacion de donde conseguir el requisito</span>
                <input type="file" value="Ingrese el archivo">
              </div>
            </li>
          </ul>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>

     </div>
     <div id="proceso-de-DA" class="col s12">
       <table>
        <thead>
          <tr>
              <th>Producto</th>
              <th>Fecha de tramite</th>
              <th>Status del tramite</th>
              <th>fecha de aprobacion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-11-2017</td>
            <td>
              <div class="circulo-red"></div>
            </td>
            <td>Aun sin aprobar</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-11-2017</td>
            <td>
              <div class="circulo-yellow"></div>
            </td>
            <td>En proceso</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
          <tr>
            <td>Jarron de Madera</td>
            <td>12-10-2017</td>
            <td>
              <div class="circulo-green"></div>
            </td>
            <td>12-11-2017</td>
          </tr>
        </tbody>
      </table>
     </div>
   </div>
   <!-- <footer class="page-footer cyan darken-4">
      <div class="footer-copyright">
        <div class="container center-align">
        © 2017 Bazar Artesano
        </div>
      </div>
    </footer> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/perfil-artesano.js">

    </script>
  </body>
</html>
